---
title: About
layout: layout.liquid
---

<div class="page-content">
  <div class="about-layout">
    <div class="about-text">
      <h1>About</h1>
      <p>HMC</p>
      <p>High Maintenance Cyclist</p>
      <p>Wear it proudly.</p>
      <p><a href="/images/HMC-crow-logo.png" download="HMC-crow-logo.png">Download the HMC logo</a></p>
    </div>
    <img class="about-logo" src="/images/HMC-crow-logo.png" alt="HMC crow logo" width="1118" height="1109">
  </div>
</div>
