---
title: Home
layout: layout.njk
---

<div class="hero">
  <h1>Time, <em>Reclaimed.</em></h1>
  <p>Whether you've escaped full-time work or you're carving out freedom on weekends — you're in the club.</p>
</div>

<div class="products">
  {% for product in products %}
    <div class="product-card">
      <img src="{{ product.image }}" alt="{{ product.name }}">
      <div class="product-title-price">
        <h2>{{ product.name }}</h2>
        <p>${{ product.variants[0].price }}</p>
      </div>
      <form action="/checkout" method="GET">
        <input type="hidden" name="slug" value="{{ product.slug }}">
        <div>
          Size:
          <select name="size" required>
            <option value="" selected disabled>Select</option>
            {% for variant in product.variants %}
              <option value="{{ variant.size }}">{{ variant.size }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="buy-button">Buy Now</button>
      </form>
    </div>
  {% endfor %}
</div>
